{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/login.css') }}"/>
    <title>Woney | Register</title>
    <style>
        p {
            font-size: 13px;
            font-family: 'Comic Sans MS', sans-serif;
        }

        p a {
            color: black;
        }
    </style>
</head>
<body>
<div id="form-area">
    <div id="form">
        <div id="logo">
            <div>Woney</div>
            <span>Time is money</span>
        </div>
        <div style="padding: 15px; ">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            <p><a target="_blank" href="{{ path('client_new') }}">Add your first client</a></p>
            <p><a target="_blank" href="{{ path('project_new') }}">Add your first project</a></p>
            <p><a target="_blank" href="{{ path('task_new') }}">Start your first task</a></p>
        </div>
    </div>
</div>
</body>
</html>