{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <script type="text/javascript">
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function dateFormat(date) {
            var pad = function(num) { return ('00'+num).slice(-2) };
            return date.getUTCFullYear()+'-'+pad(date.getUTCMonth() + 1)+"-"+pad(date.getUTCDate());
        };
        function getDaysArray(s,e) {
            for(var a=[],d=s;d<=e;d.setDate(d.getDate()+1)){ a.push(dateFormat(new Date(d)));}return a;
        };

    </script>
    <script type="text/javascript" src="{{ asset('bower_components/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <div style="width: 75%; float:left;">
        <canvas id="canvas"></canvas>
    </div>
    <div style="width: 20%; float:left;">
        <div class="w3-light-grey">
            <div class="w3-blue" style="width:75%"></div>
        </div>
        <table style="margin-top: 20px; font-size: 13px; width: 100%; text-align: center;">
            <tr>
                <td colspan="2">totals</td>
            </tr>
            <tr>
                <td>last week</td>
                <td>last 30 day</td>
            </tr>
            <tr style="font-size: 28px;">
                <td>{{ data.totals.weeklyTotal | number_format(1) }}</td>
                <td>{{ data.totals.monthlyTotal | number_format(1) }}</td>
            </tr>
            <tr>
                <td colspan="2">averages (without weekends)</td>
            </tr>
            <tr>
                <td>last week</td>
                <td>last 30 day</td>
            </tr>
            <tr style="font-size: 28px;">
                <td>{{ data.dailyAvg.lastWeek | number_format(1) }}</td>
                <td>{{ data.dailyAvg.last30day | number_format(1) }}</td>
            </tr>
        </table>
    </div>
    <script>
        $(document).ready(function(){
            var oneWeekAgo = new Date();
            oneWeekAgo.setDate(oneWeekAgo.getDate() - 30);
            var labels = getDaysArray(oneWeekAgo,new Date());
            var datasets = [];
            $.getJSON("/graphs.json", function(chartData){
                createdLabels = [];
                for(i in chartData){

                    console.log("i", i);
                    console.log(chartData[i]);
                    if(createdLabels.indexOf(chartData[i].date) == -1) {
                        createdLabels.push(chartData[i].date);
                    }
                    var projectIndex = datasets.findIndex(function(x){
                        return chartData[i].project_name == x.label;
                    });
                    if(projectIndex == -1){
                        var color = chartData[i].color == null ? getRandomColor() : chartData[i].color;
                        datasets.push({
                            date: chartData[i].date,
                            label: chartData[i].project_name,
                            backgroundColor: color,
                            data: []
                        });
                    }

                    var labelIndex = labels.findIndex(function(x){
                        return x == chartData[i].date;
                    });
                    var datasetIndex = datasets.findIndex(function(x){
                        return x.label == chartData[i].project_name;
                    });
                    datasets[datasetIndex].data[labelIndex] = chartData[i].hours || 0;
                }

                initChart({
                    labels: labels,
                    datasets: datasets
                });
            });
        });

        function initChart(data){
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    title: {
                        display: true,
                        text: 'Last 30 day'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    legend : {
                        reverse: true
                    },
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        };
    </script>
{% endblock %}
