{{ form_start(form) }}
<div style="background: red">
    {{ form_widget(form.description) }}
    {{ form_widget(form.billableRate) }}
    {{ form_widget(form.isBillable) }}
    {{ form_widget(form.project) }}
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
