{% extends 'base.html.twig' %}


{% block body %}

    <script>
        var interval;
        var seconds;
        var running = false;

        function secondsToHms(d) {
            d = Number(d);
            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);

            var hDisplay = h + ":";
            var mDisplay = m + ":";
            var sDisplay = s + ":";
            return hDisplay + mDisplay + sDisplay;
        }

        function startTitleTimer(){
            interval = setInterval(function(){
                document.title = secondsToHms(seconds) + " running";
                seconds++;
            }, 1000);

            window.onbeforeunload = function() {
                return 'Task is running, bla, bla, bla... Browsers dont give a shit what I write' ;
            }

        }
    </script>

    {% if asanaTasks %}

        <script type="text/javascript">

            $(document).on('click', '.open-asanaTasks', function () {
                $('#asanaTasks').show();
            });

            $(document).on('click', '.close-asanaTasks', function () {
                $('#asanaTasks').hide();
            });
        </script>
        <div class="open-asanaTasks">Asana Tasks</div>

        <div id="asanaTasks" style="display:none;position: absolute;
    background: lightblue;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    overflow: scroll;">
            <div style="position: fixed;
    background: black;
    color: white;
    top: 25px;
    right: 25px;
    padding: 10px 20px;
    border-radius: 45px;
    width: 100px;
    text-align: center;
    height: 45px;
    cursor: pointer;" class="close-asanaTasks">
                Kapat
            </div>

            {% for asanaProject in asanaProjects %}
                {{ asanaProject.asanaId }}
            {% endfor %}
            {% include 'asana/task_list.html.twig' with { tasks: asanaTasks } %}
        </div>
    {% endif %}

    <a href="{{ path('task_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Project</th>
                <th>Description</th>
                <th>IsBillable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr data-taskid="{{ task.id }}" data-elapsed="{{ task.elapsedTime }}" data-running="{{ task.isRunning ? '1' : '0'}}" data-startedAt="{{ task.lastTimeStartedAt | date('Y-m-d H:i:s') }}">
                {% if task.isRunning %}
                    <script type="text/javascript">
                        seconds = {{ task.elapsedTime }};
                        running = true;
                        startTitleTimer();
                        $(document).ready(function(){
                           $("#timer_task_{{ task.id }}").timer({
                               seconds: {{ task.elapsedTime }}
                           });
                            $("#timer_task_{{ task.id }}").parents("td").find(".stop-timer").removeClass("d-none");
                        });
                    </script>
                {% else %}
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#timer_task_{{ task.id }}").parents("td").find(".start-timer").removeClass("d-none");
                            $("#timer_task_{{ task.id }}").parents("td").find(".elapsedTime").html("{{ task.elapsedTime }}".toHHMMSS());
                            $("#timer_task_{{ task.id }}").parents("td").find(".elapsedTime").data("seconds", "{{ task.elapsedTime }}");
                        });
                    </script>
                {% endif %}
                <td>
                    <button class="start-timer d-none">start</button>
                    <button class="stop-timer d-none">stop</button>
                    <div class="timer" id="timer_task_{{ task.id }}"></div>
                    <div class="elapsedTime"></div>
                </td>
                <td>{{ task.date | date('Y-m-d') }}</td>
                <td>{{ task.project.name }}</td>
                <td>{{ task.description }}
                    {% if task.asanaUrl %}
                        <a href="{{ task.asanaUrl }}" target="_blank">asana</a>
                    {% endif %}</td>
                <td>{{ task.isBillable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="/bower_components/timer.jquery/dist/timer.jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $(".start-timer").click(function(){
                $(this).parents("tr").attr("data-running", "1");
                var taskId = $(this).parents("tr").data("taskid");
                var td = $(this).parents("td");
                $.post("/task/" + taskId + "/start", null, function(d){
                    if(d.success){
                        seconds = td.find(".elapsedTime").data("seconds");
                        running = true;
                        startTitleTimer();
                        td.find(".timer").timer({
                            seconds : seconds
                        });
                        td.find(".start-timer").addClass("d-none");
                        td.find(".stop-timer").removeClass("d-none");
                        td.find(".elapsedTime").remove();
                    }else{
                        alert(d.message);
                    }

                });
            });

            $(".stop-timer").click(function(){
                running = false;
                window.onbeforeunload = null;
                var taskId = $(this).parents("tr").data("taskid");
                $(this).parents("tr").data("running", "0");
                var td = $(this).parents("td");
                $.post("/task/" + taskId + "/stop", null, function(d){
                    if(d.success){
                        location.reload();
                    }else{
                        alert(d.message);
                    }
                });
            });
        });

        String.prototype.toHHMMSS = function () {
            var sec_num = parseInt(this, 10); // don't forget the second param
            var hours   = Math.floor(sec_num / 3600);
            var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            var seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours   < 10) {hours   = "0"+hours;}
            if (minutes < 10) {minutes = "0"+minutes;}
            if (seconds < 10) {seconds = "0"+seconds;}
            return hours+':'+minutes+':'+seconds;
        }
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        tr[data-running="1"] {
            background-color: yellow;
        }
    </style>
{% endblock %}
{% block title %}Task index{% endblock %}