{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}


                <table class="table table-bordered" style="margin-top:30px;">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Project</th>
                        <th>Task</th>
                        <th>Hours</th>
                        <th>Rate</th>
                        <th>Is Billable?</th>
                        <th>Receipt</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total = 0 %}
                    {% for row in data %}
                        {% set total = total + row.hours %}
                        <tr>
                            <td>{{ row.date | date('Y-m-d') }}</td>
                            <td>{{ row.client_name }}</td>
                            <td>{{ row.project_name }}</td>
                            <td>{{ row.description }}
                                {% if row.asanaUrl %}
                                    <a href="{{ row.asanaUrl }}" target="_blank">asana</a>
                                {% endif %}
                            </td>
                            <td>{{ row.hours }}</td>
                            <td>{{ row.billableRate }}</td>
                            <td>{{ row.isBillable ? 'Yes': 'No' }}</td>
                            <td>
                                {% if row.receiptId %}
                                    <a href="{{ path('receipt_show', {id: row.receiptId}) }}">Receipt</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4"></td>
                        <td>{{ total }}</td>
                        <td colspan="3"></td>
                    </tr>
                    </tfoot>
                </table>
                <p>Total uninvoiced hours: {{ totalHours }}</p>
                <p>Total uninvoiced price: {{ totalPrice }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}